@import "mixins"
@import "vars"
@import "fonts.scss"

/* Libs */
@import "../lib/normalize/_normalize.sass"

*,
*:before,
*:after
  box-sizing: border-box

a
  color: inherit
  text-decoration: none

.visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0
  white-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden

.container
  max-width: 1170px
  margin: 0 auto
  +lg
    max-width: 960px
  +md
    max-width: 720px
    padding: 0 10px
  +sm
    max-width: 95%
  +xs
    padding: 0 7.5px
    width: 100%

.btn
  background: linear-gradient(#6ade4b, #10ae50)
  border: none
  padding: 2.5rem 6rem
  +roboto-bold
  color: white
  letter-spacing: .1rem
  cursor: pointer
  transition: .3s ease
  &:hover
    background: linear-gradient(lighten(#6ade4b, 5), lighten(#10ae50, 5))
    box-shadow: 0 0 7px rgba(0, 0, 0, .4)
    //


html
  font-size: 10px

body
  background-color: #f0eff7
  font-size: 1.8rem
  color: #15081e
  min-width: 320px
  overflow-x: hidden
